/* COLOR SWATCHES */
/* #ededed #7f7f7f #212121 #141414 #cf0b22 */
/*  white   ltgrey  dkgrey  black    red */

/* #BE5446 #FCF660 #FD9C65 #44343E #282E3E */
/*   red    yellow  orange  purp     navy  */

/* #B09EAC #7B0D0C #500000 #260000 #141414 */
/* ELEMENT STYLES */

body {
  background-color: #BE5446;
  color: #141414;
}

h1 {
  font-size: 3rem;
  color: #FCF660;
}
video {
  display: inline-block;
  font-size: 1rem;
  line-height: .5rem;
  color: #555;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  margin-top: 20px;
}

#videoBig {
  width: 640px;
  height: 480px;
  margin: auto;

}


.streamButtons {
  width: 320px;
  margin: 0 auto;
}

.startBroadcast {
  background-color: #ededed;
  border-style: none;
}

.joinBroadcast {
  background-color: #ededed;
  border-style: none;
}

.endBroadcast {
  background-color: #ededed;
  border-style: none;
}

/*.videoWrapper {
  max-width: 100%;
}*/

.header {
  width: 100%;
  height: 100px;
  background-color: #343434;
  color: #FCF660;
  border-radius: 0px;
  font-family: 'Chelsea Market', cursive;
  padding-left: 16px;
}

.logoLink {
  text-decoration: none;
}


.videoWrapper {
  background-image: url('../img/crowdVideo2.jpg');
  height: 900px;
}

.hide {
  display: none;
}

.streamYourself {
  position: absolute;
  top: 25%;
  left: 25%;
  margin-top: -25px;
  margin-left: -25px;
  width: 100px;
  height: 100px;
}

.SideBar {
  background-color: #FD9C65;
  width: 15%;
  height: 100%;
  display: none;
  float: left;
  position: absolute;
}

.container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.loginForm{
  float: left;
  display: inline-block;
  position: relative;

}



.navigation{
  float:right;
  display: inline-block;
}

.streamYourselfLink {
  text-decoration: none;
  position: relative;
  /*top: -30px;*/
  float: left;
  display: inline-block;
  padding-right: 50px;


 }

.jsonLink{
  float: left;
  /*top: -30px;*/
  display: inline-block;
  position: relative;
  padding-right: 50px;
}

.loginLink{
  float: left;
  top: -30px;
  display: inline-block;
  position: relative;
  padding-right: 50px;
}

.streamYourselfLinkText{
   color: #FCF660;
}

.jsonLinkText{
 color: #FCF660;
}