/* COLOR SWATCHES */
/* #ededed #7f7f7f #212121 #141414 #cf0b22 */
/*  white   ltgrey  dkgrey  black    red */

/* #BE5446 #FCF660 #FD9C65 #44343E #282E3E #fea92f */
/*   red    yellow  orange  purp     navy  lt.rocket orange */

/* #B09EAC #7B0D0C #500000 #260000 #141414 */
/* ELEMENT STYLES */


.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

a {
  text-decoration: none;
}

body {
  background-color:  #FFFFFF;
  color: #141414;
}

/*h1 {
  font-size: 3rem;
  color: #FCF660;
}*/
video {
  display: inline-block;
  font-size: 1rem;
  line-height: .5rem;
  color: #555;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  margin-top: 20px;
}

.header{
  background-color: #212121;
}

#videoBig {
  width: 640px;
  height: 480px;
  margin: auto;
}


.streamButtons {
  width: 320px;
  margin: 0 auto;
}

.startBroadcast {
  background-color: #ededed;
  border-style: none;
}

.joinBroadcast {
  background-color: #ededed;
  border-style: none;
}

.endBroadcast {
  background-color: #ededed;
  border-style: none;
}


.hide {
  display: none;
}
.logoLink{
  color: #FCF660;
   /*font-family: 'Chelsea Market', cursive;*/
  font-family: 'Changa One', cursive;
 /* font-family: 'Hind Vadodara', sans-serif;*/
  /*font-family: 'Iceland', cursive;*/
}
h1 {

  /*font-family: 'Chelsea Market', cursive;*/
  font-family: 'Changa One', cursive;
 /* font-family: 'Hind Vadodara', sans-serif;*/
  /*font-family: 'Iceland', cursive;*/

}

.streamYourself {
  position: absolute;
  top: 25%;
  left: 25%;
  margin-top: -25px;
  margin-left: -25px;
  width: 100px;
  height: 100px;
}

.SideBar {
  background-color: #FD9C65;
  width: 15%;
  height: 100%;
  display: none;
  float: left;
  position: absolute;
}

.container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.loginForm{
  float: left;
  display: inline-block;
  position: relative;

}

.chatComponent {
  float: right;
  width: 340px;
  background-color: #212121;
  height: 950px;
}

.broadcastComponent {
  margin-top: 10%;
}
/*CHAT BOX STYLES*/
.messageContainer{
  height: 840px;
  overflow: hidden;
}
.chatFieldWrapper {
  z-index: 52;
  left: 21.1rem;
  right: 1rem;
  height: 50px;
  width: 90%;
  margin: .5rem .5rem 0 .5rem;

}

.main {
  height: 95%;
  width: 95%;
}

.chatInput {
  height: 90%;
  font-size: 2em;
  
}

i:first-of-type + div {
  color: #FCF660;
}

/*About page helper classes*/

.art-land-wrap{
  height: 950px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/artLand.jpg');
  background-repeat: no-repeat;

  background-size: 100%;
  border: 1px solid #212121;
}

.avatar {
  display: inline-block;
  max-width: 25%;
  flex-grow: 1;
  margin-top:  5%;

}
.avatar > img {
  width: 150px;
  margin-left: 25%;
  margin-right: 25%;
}
.avatar > h2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Changa One';
  color: #424242;
  margin-top: 2rem;
}
.avatar > h3 {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Hind Vadodara';
  color: orange;
}
.avatars {
  margin: 0 auto;
  max-width: 85%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
}
  h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 5%;
  color: orange;
}
.center-block{
  display: block;
  margin: 0 auto;
}

.tech{
  max-width: 95%;
  margin: 0 8%;
}

.stack-icon {
  display: inline-block;
  margin: 3rem 2rem;
}

.react{
  fill: #00ace9;
}


/*LANDING PAGE*/
.land-wrap {

}
.live {
  display:inline-block;
  float: left;
  width: 240px;
  height: 950px;
  background-color: #212121;
  text-align: center;
  color: orange;
  z-index: 10;
  box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.live > h2 {
  font-size: 1.1rem;
  font-family: 'Fjalla One';
  margin-top: 1rem;
}

.mic-section {
  display:inline-block;
  height: 950px;
  width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/mic.jpg');
  background-repeat: no-repeat;
  background-position: 240px 0;
  background-size: 100%;
  border: 1px solid #212121;
}

.mic-section > h1 {
  margin-top: 2rem;
  font-size: 3rem;
  color: #FCF660;
}

.rock-it {
  margin-top: 13%;
  transform: rotate(12deg);
}

.right {
  width: 50%;
  margin-top: 13%;
  margin-left: 10%;
  float: right;
  color: #eCe630;

}

.right > h1 {
  color: #eCe630;
  font-family: 'Fjalla One';
}

/*.artistButton {
  margin-top: 45px;
  margin-left: 40%;
};

*/
/*.fanButton {
  margin-top: 45%;
  margin-left: 10%;
}


*/

.fanButton {
  margin-top: 3rem;
}

/*PERFORMANCE DESCRIPTION PAGE FIXME not centered on page at all? Ask Auggie, styling master*/
.performance-description-main {
  width: 480px;
  height: 450px;
  margin: 10% auto;
  padding: 2rem;
  background-color: #A1A1A1;
  border-style: 1px solid #212121;
  border-radius: 12px;
}
.uploadDescriptionImg {
  margin-bottom: 1rem;
}

.formContainer {
  margin: 0 30%;
}

.formGroup {
  width: 300px;
}

.activeWrapper {
width: 100%;
}

.tagSearch {
  width: 500px;
  display: block;
  
}
.tagInput {
  padding: 1rem;
}
.activeGrid {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.artistCard {
  margin: 1rem auto;
}
/*MEDIA QUERIES*/
@media (min-width: 1800px) {
    .avatar > img {
      margin: 0 31%;
    }
}


@media (max-width: 1600px){
    .avatar > img {
      margin: 0 25%;
    }
    

/*    .artistButton {
      margin-top: 45px,
      margin-left: 35%;
    };

    .fanButton {
      margin-top: 45px;
      margin-left: 10%;
    };*/
    #videoBig {
      margin-left: 10%;
    }

    .broadcastComponent {
      margin-top: 5%;
    }

    .avatars {
      margin-top: 5%;
    }
    .chatComponent {
      height: 880px;
    }

    .messageContainer {
      height: 800px;
    }

    .art-land-wrap, .videoWrapper {
      height: 880px;
    }
    .live {

      float: left;
      height: 880px;
      background-color: #212121;
      text-align: center;
      color: orange;
    }
  
    .mic-section {
      height: 880px;
      background-position: 220px 0px;
    }

    .stack {
      margin-top: 10%;
    }

    .stack-icon {
      display: inline-block;
      margin: 3rem 3rem;
    }

    .tech {
      margin-left: 15%;
    }

    .wrapper {
      margin-top: 7%;
    }
}

@media (max-width: 1500px){
  .chatComponent {
      height: 820px;
    }

    .messageContainer {
      height: 740px;
    }

    .art-land-wrap, .videoWrapper {
      height: 820px;
    }
    .live {
      height: 100%;
    }
}

@media (max-width: 1400px){
  .chatComponent {
      height: 740px;
    }

    .messageContainer {
      height: 660px;
    }

    .art-land-wrap, .videoWrapper {
      height: 740px;
    }
    .live {
      height: 100%;
    }
}

@media (max-width: 1300px){
  .chatComponent {
      height: 670px;
    }

    .messageContainer {
      height: 600px;
    }

    .art-land-wrap, .videoWrapper {
      height: 670px;
    }
    .live {
      height: 100%;
    }
}
/*END MEDIA QUERY*/


.fileInput {
  border-bottom: 4px solid #d3d3d3;
  border-right: 4px solid #d3d3d3;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview img {
  width: 100%;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton:hover {
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height : 20px;
  width: 50px;
  background-color: #eCe630;
}
