/* COLOR SWATCHES */
/* #ededed #7f7f7f #212121 #141414 #cf0b22 */
/*  white   ltgrey  dkgrey  black    red */

/* #BE5446 #FCF660 #FD9C65 #44343E #282E3E #fea92f */
/*   red    yellow  orange  purp     navy  lt.rocket orange */

/* #B09EAC #7B0D0C #500000 #260000 #141414 */
/* ELEMENT STYLES */


.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

a {
  text-decoration: none;
}

body {
  background-color:  #FFFFFF;
  color: #141414;
}

/*h1 {
  font-size: 3rem;
  color: #FCF660;
}*/
video {
  display: inline-block;
  font-size: 1rem;
  line-height: .5rem;
  color: #555;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  margin-top: 20px;
}

.header{
  background-color: #212121;
}

#videoBig {
  width: 640px;
  height: 480px;
  margin: auto;

}


.streamButtons {
  width: 320px;
  margin: 0 auto;
}

.startBroadcast {
  background-color: #ededed;
  border-style: none;
}

.joinBroadcast {
  background-color: #ededed;
  border-style: none;
}

.endBroadcast {
  background-color: #ededed;
  border-style: none;
}

/*.videoWrapper {
  max-width: 100%;
}*/
/*
.header {
  width: 100%;
  height: 100px;
  background-color: #343434;
  color: #FCF660;
  border-radius: 0px;
  font-family: 'Chelsea Market', cursive;
  padding-left: 16px;
}
*/
/*.logoLink {
  text-decoration: none;
}
*/

/*.videoWrapper {
  background-image: url('../img/crowdVideo2.jpg');
  height: 900px;
}*/

.hide {
  display: none;
}
.logoLink{
  color: #FCF660;
   /*font-family: 'Chelsea Market', cursive;*/
  font-family: 'Changa One', cursive;
 /* font-family: 'Hind Vadodara', sans-serif;*/
  /*font-family: 'Iceland', cursive;*/
}
h1 {

  /*font-family: 'Chelsea Market', cursive;*/
  font-family: 'Changa One', cursive;
 /* font-family: 'Hind Vadodara', sans-serif;*/
  /*font-family: 'Iceland', cursive;*/

}

.streamYourself {
  position: absolute;
  top: 25%;
  left: 25%;
  margin-top: -25px;
  margin-left: -25px;
  width: 100px;
  height: 100px;
}

.SideBar {
  background-color: #FD9C65;
  width: 15%;
  height: 100%;
  display: none;
  float: left;
  position: absolute;
}

.container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.loginForm{
  float: left;
  display: inline-block;
  position: relative;

}


/*About page helper classes*/
.avatar {
  display: inline-block;
  max-width: 25%;
  flex-grow: 1;
  margin-top:  5%;

}
.avatar > img {
  width: 150px; 
  margin-left: 25%;
  margin-right: 25%;
}
.avatar > h2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Changa One';
  color: #424242;
  margin-top: 2rem;
}
.avatar > h3 {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Hind Vadodara';
  color: orange;
}
.avatars {
  margin: 0 auto;
  max-width: 85%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  margin-top: 3%;
}
 h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 5%;
  color: orange;
}
.center-block{
  display: block;
  margin: 0 auto;
}

.tech{
  max-width: 95%;
  margin: 0 8%;
}

.stack-icon {
  display: inline-block;
  margin: 3rem 2rem;
}

.react{
  fill: #00ace9;
}









/*MEDIA QUERIES*/
@media (min-width: 1800px) { 
    .avatar > img { 
      margin: 0 31%;
    }
}

@media (max-width: 1600px){
    .avatar > img { 
      margin: 0 25%;
    }
    
    .avatars {
      margin-top: 5%;
    }
    .stack {
      margin-top: 10%;
    }

    .stack-icon {
      display: inline-block;
      margin: 3rem 3rem;
    }

    .tech {
      margin-left: 15%;
    }
  
    .wrapper {
      margin-top: 7%;
    }
}
